@page "/packing"

@using CromulentBisgetti.ContainerPacking.Entities
@using PackingService.Blazor.Data
@inject BoxService BoxService
@inject IJSRuntime JSRuntime;
@*<input @bind-value="_custOrderNo" @bind-value:event="oninput" />
    <button @onclick="GetItems">Get Items for Order</button>
    <p>Item count: @_items.Count()</p>

    <button @onclick="GetPallets">Load Pallets</button>
            <button @onclick="GetSmallPackageBoxes">Load Small Packages</button>
            <p>Container Type: @_containerType</p>
            <p>Container count: @_containers.Count()</p>

    <button @onclick="Pack">Pack Containers</button>*@

    <div class="card" style="width: 50%">
        <div class="card-body">
            <h5 class="card-title">Input Items</h5>
            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            <input @bind-value="_custOrderNo" @bind-value:event="oninput" />
            <button @onclick="GetItems">Get Items for Order</button>
            <p>Item count: @_items.Count()</p>
        </div>

        <div class="card-body">
            <button @onclick="Pack">Pack Containers</button>
        </div>

        @*<div class="card-body">

            @foreach (var packResult in _packingResults)
            {
            <label>
                <input name="yourColor" type="radio"
                       value="@packResult.IndexId"
                       checked="@(_selectedPackingResult == packResult.IndexId)"
                       @onchange="@(() => { _selectedPackingResult = packResult.IndexId; })" />
                @packResult.IndexId.ToString()
            </label>
            }
        </div>*@
    </div>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Items
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th class="button-column"></th>
                            <th>Name</th>
                            <th>L</th>
                            <th>W</th>
                            <th>H</th>
                            <th>Qty</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _items)
                        {

                            <tr>
                                <td></td>
                                <td><input type="text" value="@item.Id" /></td>
                                <td><input type="text" value="@item.Dim1" /></td>
                                <td><input type="text" value="@item.Dim2" /></td>
                                <td><input type="text" value="@item.Dim3" /></td>
                                <td><input type="text" value="@item.Quantity" /></td>
                                <td></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Containers
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th class="button-column"></th>
                            <th>Name</th>
                            <th>L</th>
                            <th>W</th>
                            <th>H</th>
                            <th>Volume</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var box in _boxes)
                        {

                        <tr>
                            <td></td>
                            <td><input type="text" value="@box.Id" /></td>
                            <td><input type="text" value="@box.Length" /></td>
                            <td><input type="text" value="@box.Width" /></td>
                            <td><input type="text" value="@box.Height" /></td>
                            <td><input type="text" value="@box.Volume" /></td>
                            <td></td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Pack Results
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @if (_packingResults != null)
                {

                    <table class="table table-condensed" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th class="algorithm-name-column">Algorithm<br />Name</th>
                                <th class="data-column text-center">Pack Time<br />(ms)</th>
                                <th class="data-column text-center">
                                    <div data-toggle="tooltip" title="% of container volume packed with items">% Cont.<br />Used</div>
                                </th>
                                <th class="data-column text-center"># Items<br />Packed</th>
                                <th class="data-column text-center"># Items<br />Unpacked</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pack in _packingResults)
                            {
                                <tr>
                                    <td class="algorithm-name-column">
                                        <table>

                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="form-control-static">@pack.AlgorithmName</p>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                    <td class="data-column text-center">
                                        <table style="margin: auto;">

                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="form-control-static">@pack.PackTimeInMilliseconds</p>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                    <td class="data-column text-center">
                                        <table style="margin: auto;">

                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="form-control-static">@pack.PercentContainerVolumePacked</p>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                    <td class="data-column">
                                        <table style="width: 100%">
                                            
                                            @{
                                                var color = pack.UnpackedItems.Any() ? "" : "bg-success";
                                            }

                                            <tbody>
                                                <tr>
                                                    <td style="@color">
                                                        <p class="form-control-static">@pack.PackedItems.Count()</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </td>
                                    <td class="data-column">
                                        <table style="width: 100%">

                                            <tbody>
                                                <tr>
                                                    <td style="@color">
                                                        <p class="form-control-static">@pack.UnpackedItems.Count()</p>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Packing Visualization
                </button>
            </h5>
        </div>

            <div class="card-body">

                @foreach (var packResult in _packingResults)
                {
                    <label>
                        <input name="yourColor" type="radio"
                               value="@packResult.IndexId"
                               checked="@(_selectedPackingResult == packResult.IndexId)"
                               @onchange="@(() => { _selectedPackingResult = packResult.IndexId;
                                                      Visualize();
                                          })" />
                        @packResult.IndexId.ToString()
                    </label>
                }
            </div>
            <div class="card-body" id="pack">

                <div>
                    <button @onclick="@(e=>ShowNext())">Show Next</button>
                    <button @onclick="ShowPrevious">Show Previous</button>
                </div>
                <div id="drawing-container"></div>
            </div>


    </div>
</div>



@code {
    //private List<int> _algorithms = new List<int>();
    private List<Item> _items = new List<Item>();
    private List<Container> _boxes = new List<Container>();
    private Container _container = new Container("Pallet 72in", 40, 48, 72);
    private List<AlgorithmPackingResult> _packingResults;

    private int _selectedPackingResult = -1;

    private string _custOrderNo;
    private string _containerType;

    private int itemCounter = 0;

    protected override async Task OnInitializedAsync()
    {
        _packingResults = new List<AlgorithmPackingResult>();
        _custOrderNo = "R44999";
        //await GetAlgorithms();
        await GetItems();
        //await GetPallets();
        await GetSmallPackageBoxes();
    }
    //Todo add call to pack what is in the DOM and render it

    private void Pack()
    {

        //var indexId = 0;

        // var unPackedItems = _items;
        //while (unPackedItems.Any())
        // {
        _packingResults = CromulentBisgetti.ContainerPacking.PackingService.PackContainer(_container, _items);
        // packingResult.IndexId = indexId;
        //  indexId++;
        //  _packingResults.Add(packingResult);

        //  foreach (var item in packingResult.PackedItems)
        //  {
        //      unPackedItems.Remove(item);
        //  }

        JSRuntime.InvokeAsync<string>("InitializeDrawing");

        //InitializeDrawing(indexId);

        //var commands = new List<string>();

        //commands.Add($"camera.position.set({_container.MaxDimension}, {_container.MaxDimension}, {_container.MaxDimension});");
        //commands.Add($"var geometry = new THREE.BoxGeometry({_container.Length}, {_container.Height}, {_container.Width});");
        //commands.Add("var geo = new THREE.EdgesGeometry(geometry);");
        //commands.Add("var mat = new THREE.LineBasicMaterial({ color: 0x000000, linewidth: 2 });");
        //commands.Add("var wireframe = new THREE.LineSegments(geo, mat);");
        //commands.Add("wireframe.position.set(0, 0, 0);");
        //commands.Add("wireframe.name = 'container';");
        //commands.Add("wireframe.name = 'container';");

        //RunJsCommands(commands);
        //}

        //var packResult = _packResults.FirstOrDefault();
        //var container = _containers.FirstOrDefault(x => x.Id == packResult.ContainerId);

        //JSRuntime.InvokeAsync<string>("InitializeDrawing");

        //var commands = new List<string>();

        //commands.Add($"camera.position.set({container.MaxDimension}, {container.MaxDimension}, {container.MaxDimension});");
        //commands.Add($"var geometry = new THREE.BoxGeometry({container.Length}, {container.Height}, {container.Width});");
        //commands.Add("var geo = new THREE.EdgesGeometry(geometry);");
        //commands.Add("var mat = new THREE.LineBasicMaterial({ color: 0x000000, linewidth: 2 });");
        //commands.Add("var wireframe = new THREE.LineSegments(geo, mat);");
        //commands.Add("wireframe.position.set(0, 0, 0);");
        //commands.Add("wireframe.name = 'container';");
        //commands.Add("wireframe.name = 'container';");

        //RunJsCommands(commands);

        _selectedPackingResult = 0;
        Visualize();

    }

    private void Visualize()
    {
        JSRuntime.InvokeAsync<string>("SetData", System.Text.Json.JsonSerializer.Serialize(_packingResults[_selectedPackingResult].PackedItems));
    }

    //private void InitializeDrawing(int indexId)
    //{
    //    var commands = new List<string>();

    //    commands.Add($"var scenes-{indexId};");
    //    commands.Add($"var camera-{indexId};");
    //    commands.Add($"var renderer-{indexId};");
    //    commands.Add($"var controls-{indexId};");
    //    commands.Add($"var viewModel-{indexId};");
    //    commands.Add($"var itemMaterial-{indexId};");


    //    commands.Add($"var drawingContainer-{indexId} = $('#drawing-container-{indexId}');");

    //    commands.Add($"scene-{indexId} = new THREE.Scene();");
    //    commands.Add($"camera-{indexId} = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight, 0.1, 1000);");
    //    commands.Add($"camera-{indexId}.lookAt(scene-{indexId}.position);");

    //    //var axisHelper = new THREE.AxisHelper( 5 );
    //    //scene.add( axisHelper );

    //    // LIGHT
    //    commands.Add($"var light-{indexId} = new THREE.PointLight(0xffffff);");
    //    commands.Add($"light-{indexId}.position.set(0, 150, 100);");
    //    commands.Add($"scene-{indexId}.add(light-{indexId});");

    //    // Get the item stuff ready.
    //    commands.Add($"itemMaterial-{indexId} = new THREE.MeshNormalMaterial({{ transparent: true, opacity: 0.6 }});");


    //    commands.Add($"renderer-{indexId} = new THREE.WebGLRenderer({{ antialias: true }});");
    //    commands.Add($"renderer-{indexId}.setClearColor(0xf0f0f0);");
    //    commands.Add($"renderer-{indexId}.setPixelRatio(window.devicePixelRatio);");
    //    commands.Add($"renderer-{indexId}.setSize(window.innerWidth / 2, window.innerHeight / 2);");
    //    commands.Add($"drawingContainer-{indexId}.append(renderer-{indexId}.domElement);");

    //    commands.Add($"controls-{indexId} = new THREE.OrbitControls(camera-{indexId}, renderer.domElement);");
    //    commands.Add($"window.addEventListener('resize', onWindowResize, false);");

    //    commands.Add($"animate();");
    //    RunJsCommands(commands);
    //}

    //private void ShowNext(int indexId)
    //{
    //    var packResult = _packingResults[indexId];
    //    var containerOriginOffsetX = -1 * _container.Length / 2;
    //    var containerOriginOffsetY = -1 * _container.Height / 2;
    //    var containerOriginOffsetZ = -1 * _container.Width / 2;


    //    var itemToRender = packResult.PackedItems[itemCounter];
    //    itemCounter++;
    //    var commands = new List<string>();
    //    commands.Add($"var itemGeometry = new THREE.BoxGeometry({itemToRender.PackDimX}, {itemToRender.PackDimY}, {itemToRender.PackDimZ});");
    //    commands.Add($"var cube = new THREE.Mesh(itemGeometry, itemMaterial);");
    //    commands.Add($"cube.position.set({containerOriginOffsetX} + {itemToRender.PackDimX / 2} + {itemToRender.CoordX}, {containerOriginOffsetY} + {itemToRender.PackDimY / 2} + {itemToRender.CoordY}, {containerOriginOffsetZ} + {itemToRender.PackDimZ / 2} + {itemToRender.CoordZ});");
    //    commands.Add($"cube.name = 'cube' + {itemCounter};");
    //    commands.Add($"scene.add(cube);");
    //    RunJsCommands(commands);

    //}

    //private void RunJsCommands(List<string> commands)
    //{
    //    foreach (var command in commands)
    //    {
    //        JSRuntime.InvokeAsync<string>(command);
    //    }
    //}

    //private async Task GetPallets()
    //{
    //    _containerType = "Pallets";
    //    _containers = await BoxService.GetPalletsAsync();
    //}

    private async Task GetSmallPackageBoxes()
    {
        _containerType = "Small Package";
        _boxes = await BoxService.GetSmallPackageBoxesAsync();
    }

    private async Task GetItems()
    {
        _items = await BoxService.GetItemsAsync(_custOrderNo);
    }

    //private async Task GetAlgorithms()
    //{
    //    _algorithms = await BoxService.GetAlgorithmsAsync();
    //}

    private void ShowNext()
    {
        JSRuntime.InvokeAsync<string>("PackItemInRender");
    }

    private void ShowPrevious()
    {
        JSRuntime.InvokeAsync<string>("UnpackItemInRender");
    }


}